h1, h2, h3, h4, h5, h6 {
	clear: both;
	font:  {
		family: $font-heading;

	}
	text-transform: uppercase;
	color: $color-light-black;
}

.entry-content h1 {
	font-size: 34px;
}
h1 {
	font-size: 34px;
	margin: 0 0 20px 0;
}
h2 {
	font-size: 24px;
	margin: 0 0 15px 0;
}
h3 {
	font-size: 20px;
	margin: 0 0 10px 0;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}