.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	ul {
		padding: 0;
		margin: 0 0 30px 0;
		list-style: none;
	}
	&.idxqs {
		.IDX-quicksearchWrapper {
			border: none !important;
			box-shadow: none !important;
		}
		form {
			text-align: center !important;
			width: 100% !important;
			>div {
				display: inline-block !important;
				
			}
		}
	}
}
