select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-image: url(...);   /* add custom arrow */
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
.IDX-qsLabel, .IDX-qsInput {
	width: 100%;
}
// prop search
.prop-search, .rental-search {
	.IDX-quicksearchWrapper {
		.IDX-quicksearchForm {
			width: 100%;
			// display: flex !important;
			// flex-direction: row;
			// justify-content: center;
			// flex-wrap: wrap;
			// align-items: center;

			// .IDX-quicksearchForm > div {
			// 	flex-grow: 1;
			// }
			// &::after {
			//   content: '';
			//   flex-grow: 1000000000;
			// }


			@media screen and (min-width: $midwidth) {
				flex-wrap: nowrap;
				.IDX-qsInput {
					width: 100%;
				}
				#IDX-qsCityListLabel-12569,
				#IDX-qsIdxIDLabel-12569 {
					display: block;
				}
				#IDX-qsIdxIDWrap-12569 {
					margin-top: 0;
				}
				#IDX-qsSubmit-12569 {
					margin-top: 24px;
				}

				#IDX-qsCityListLabel-42395 {
					display: block !important;
				}
				#IDX-qsIdxIDWrap-12569,
				#IDX-qsPtWrap-12569,
				#IDX-qsMinPriceWrap-12569,
				#IDX-qsMaxPriceWrap-12569,
				#IDX-qsMinBedWrap-12569,
				#IDX-qsMinBathWrap-12569,
				#IDX-qsCityListWrap-12569,
				#IDX-qsIdxIDWrap-42395,
				#IDX-qsPtWrap-42395,
				#IDX-qsMinPriceWrap-42395,
				#IDX-qsMaxPriceWrap-42395,
				#IDX-qsMinBedWrap-42395,
				#IDX-qsMinBathWrap-42395,
				#IDX-qsCityListWrap-42395 {
					width: 100%;
					@media screen and (min-width: $midwidth) {
						width: 14%;
					}
				}
				#IDX-qsSubmitWrap-12569,
				#IDX-qsSubmitWrap-42395 {
					width: 100%;
					text-align: center;
				}
			}
			input[type="submit"].IDX-qsInput {
				padding: 10px 50px;
				// width: 100% !important;
				display: inline-block;
				width: auto !important;
			}
			.IDX-qsFieldWrap #IDX-quicksearchForm-12569 .IDX-qsSelectInput select {
		width: 100% !important;
	}
			
		}
	}

}



.IDX-qsFieldWrap {
	flex-basis: 100%;
	@media screen and (min-width: $midwidth) {
		flex-basis: 15%;
		display: block;
	}
}
select {
	border-radius: 0px;
	padding: 0 25px 0 5px;
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 34px;
   overflow: hidden;
   background-color: #fff;
}







