.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.hero {
	width: 100%;
	float: left;
	position: relative;
	display: block;
	overflow: hidden;
	img {
		width: 100%;
	}
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	img {
		transform: scale(1);
		@include transition(all ease 10s);
		&:hover {
			transform: scale(1.2);
		}
	}
	

}
.propsearch-page {
	width: 100%;
	position: relative;
	float: left;
	background-color: rgba(#000, .6);
	padding: 40px 0;
	color: #fff;
	position: relative;
	@media screen and (min-width: $midwidth) {
		padding: 10px;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.prop-search {
	width: 100%;
	background-color: rgba(#000, .6);
	padding: 40px 0;
	color: #fff;
	position: relative;
	@media screen and (min-width: $midwidth) {
		position: absolute;
		bottom: 0%;
		left: 0%;
	}
	@media screen and (min-width: $deskwidth) {
		
	}

}
.prop-search, .propsearch-page  {
	
	h2 {
		text-align: center;
		width: 100%;
		color: #fff;
		font-size: 40px;
	}
	form.homesearch {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 10px;

		@media screen and (min-width: $midwidth) {
			flex-wrap: nowrap;
			padding: 0;
		}
		@media screen and (min-width: $deskwidth) {
			
		}
		.block {
			flex-basis: 100%;
			@media screen and (min-width: $midwidth) {
				flex-basis: auto;
			}
			@media screen and (min-width: $deskwidth) {
				
			}
		}
		.home-btn-search {
			padding:  30px 0;
			background-color: $color-red;
			color: #fff;
			box-shadow: none;
			border: 0;
			text-transform: uppercase;
			border-radius: 0;
			width: 100%;
			@include transition(all ease .3s);
			&:hover {
				box-shadow: none;
				background-color: $color-blue;
			}
			@media screen and (min-width: $midwidth) {
				width: auto;
				padding:  30px;
			}
		}
		.searchlabel {
			width: 100%;
			margin: 0 0 5px 0;
		}
		select {
			width: 100%;
			border: 1px solid #fff;
			background-color: rgba(#fff, .8);
			padding: 20px;
			color: #000;
			border-radius: 0;
			display: inline-block;
			width: 100%;
			cursor: pointer;
			padding: 10px 15px;
			outline: 0;
			border-radius: 0;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			@media screen and (min-width: $tabwidth) {
				width: 100%;
			}
			@media screen and (min-width: $midwidth) {
				width: 90%;
			}
			@media screen and (min-width: $deskwidth) {
				width: 100%;
			}
		}
		option {
			padding: 20px;
		}
	}
}
h2.tagline {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		position: absolute;
		top: 10%;
		left: 0;
		color: #fff;
		font-size: 40px;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
	@media screen and (min-width: $midwidth) {
		top: 15%;
	}
	@media screen and (min-width: $deskwidth) {
		font-size: 50px;
		top: 20%;
	}
}
section.agents-home {
	text-align: center;
	padding: 50px 0;
}
section.agents, section.resources {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
.agent, .resource-card {
	width: 90%;
	margin: 10px auto;
	background-color: rgba(#fff, 1);
	padding: 5%;
	text-align: center;
	@include transition(all ease .4s);
	flex-basis: 100%;
	&:hover {
		-webkit-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
		-moz-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
		box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
	}
	@media screen and (min-width: $tabwidth) {
		flex-basis: 45%;
	}
	@media screen and (min-width: $deskwidth) {
		flex-basis: 30%;
	}
	.agent-photo {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: 0 auto;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.agent-phone, .agent-email {
		width: 100%;
		margin: 5px 0;
		color: $color-light-black;
		a {
			color: $color-light-black;
			text-decoration: none;
		}
	}
	.agent-email {
		font-size: 10px;
	}
	
}
.resources {
	h3 {
		width: 100%;
		text-align: center;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #ccc;
	}
}
.resource-card {
	h4 {
		a {
			color: $color-blue;
		}
	}
}
.agent-single {
	width: 90%;
	margin: 10px auto;
	background-color: rgba(#fff, 1);
	text-align: center;
	@include transition(all ease .4s);
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		margin: 0;
		float: left;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
	.agent-photo-single {
		width: 100%;
		// border-radius: 50%;
		overflow: hidden;
		float: left;
		@media screen and (min-width: $tabwidth) {
			width: 30%;
		}
		img {
			width: 100%;
		}
	}
	.agent-info {
		width: auto;
		float: left;
		@media screen and (min-width: $tabwidth) {
			width: 30%;
			margin: 0 0 0 5%;
		}
	}
	.agent-blog {
		width: 30%;
		margin: 0 0 0 5%;
		float: left;
	}
	
}
.agent-phone, .agent-email {
	width: 100%;
	margin: 5px 0;
	color: $color-light-black;
	a {
		color: $color-light-black;
		text-decoration: none;
	}
}
.agent-email {
	font-size: 10px;
}
ul.agent-social {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 20px 0;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	li {
		
	}
	a {
		color: #969696;
	}
	i {
		transform: scale(1);
		@include transition(all ease .4s);
		font-size: 1.8em;
		color: #ccc;
		&:hover {
			transform: scale(1.3);
			color: $color-light-black;
		}
	}
}
section.bio {
	width: 100%;
	float: left;
	text-align: left;
}
.readmore {
	width: auto;
	display: inline-block;
	margin: 0 0 20px 0;
	float: right;
	a {
		color: #fff;
		display: block;
		@include transition(all ease .4s);
		background-color: $color-red;
		padding: 10px 30px;
		&:hover {
			background-color: $color-blue;
		}
	}
}
.dev-card {
	padding: 30px 0;
	border-top: 1px solid $color-light-black;
	border-bottom: 1px solid $color-light-black;
	width: 100%;
	margin: 70px 0 30px 0;
}
article.post {
	width: 100%;
	padding: 5%;
	background-color: #fff;
	float: left;
	margin: 0 0 30px 0;
	-webkit-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.1);
		box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.1);
	a {
		color: $color-blue;
	}
	.readmore a {color: #fff;}
	@include transition(all ease .4s);
	&:hover {
		-webkit-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
		-moz-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
		box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
	}
}
.cat-links {
	font: {
		size: 10px;
	}
	a {
		color: $color-red;

	}
	padding: 5px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
section.home-featured-listings {
	width: 100%;
	float: left;
	background-color: $color-light-black;
	text-align: center;
	padding: 40px 0;
	h2 {
		color: #fff;
	}
	#idx {
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: stretch;
		}
		.idxprop {
			background-color: #fff;
			border: 1px solid #eee;
			margin-bottom: 30px;
			@media screen and (min-width: $tabwidth) {
				flex-basis: 30%;
			}
			.idxphoto2 {
				width: 100%;
				margin: 0 0 20px 0;
				height: auto;
				a {
					width: 100%;
					display: block;
					img {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
	.info-5 {
		width: 50%;
		margin: 20px auto;
		a {
			display: block;
			background-color: $color-light-black;
			color: #fff;
			@include transition(all ease .4s);
			border: 1px solid #fff;
			padding: 10px 20px;

			&:hover {
				color: $color-light-black;
				border: 1px solid $color-light-black;
				background-color: #fff;
			}
		}
	}


}
.center {text-align: center;}
section.resources {
	width: 100%;
	padding: 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (min-width: $tabwidth) {

	}
	@media screen and (min-width: $deskwidth) {

	}
	.col {
		flex-basis: 100%;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 50%;
		}
		@media screen and (min-width: $deskwidth) {
			flex-basis: 30%;
		}
	}
	.resource-link {
		a {
			display: block;
			background-color: $color-light-black;
			color: #fff;
			@include transition(all ease .4s);
			border: 1px solid #fff;
			padding: 10px 20px;

			&:hover {
				color: $color-light-black;
				border: 1px solid $color-light-black;
				background-color: #fff;
			}
		}
	}
}
.developments {
	width: 100%;
	padding: 40px 0;
	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {

	}
	.development-flex {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	.development {
		// width: 90%;
		// margin: 10px auto;
		background-color: rgba(#fff, 1);
		padding: 5%;
		@include transition(all ease .4s);
		flex-basis: 100%;
		&:hover {
			-webkit-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
			-moz-box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
			box-shadow: -1px 2px 15px 1px rgba(0,0,0,0.35);
		}
		@media screen and (min-width: $tabwidth) {
			flex-basis: 45%;
			// margin: auto;
			// width: auto;
		}
		
	}
}
.prop-manage {
	width: 100%;
	
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.link {
		width: 90%;
		margin: 0 auto 30px auto;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 30%;
		}
	}	
}
.action-buttons {
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid $color-light-black;
	border-bottom: 1px solid $color-light-black;
	@media screen and (min-width: $tabwidth) {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
}
.resource-nav {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 10px;
	background-color: #fff;
	margin: 0 0 40px 0;
	ul.the-sources {
		width: 100%;
		
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 0;
		margin: 0;
		@media screen and (min-width: $tabwidth) {
			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: row;
		}
	}
	li {
		list-style: none;
		padding: 0;
		margin: 0 5px;
		width: auto;
	}
	a {
		color: $color-red;
		padding: 3px;
		background-color: #fff;
	}
	
}





